.disabled {
  color: #cccccc !important ;
  cursor: not-allowed;
  border-color: #aaa;
}

/* Overriding theme's CSS for tabs*/
/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: blue;
}
*/
.nav>li>a:hover, .nav>li>a:focus {
  background-color: #f3f3f3;
}

.nav-tabs {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 5px;
}
.nav-tabs>li>a{
  background-color: #ececec;
  margin-right: 10px;
  border-bottom: 1px solid #d2d2d2;
}
.nav-tabs>li>a:hover {
  border: 1px solid #d2d2d2;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  border-bottom-color: transparent;
  
}



