# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [master, devel]
  pull_request:
    branches: [master, devel]

name: BioC-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest,   r: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: false

      - name: Install fftw3 on macOS
        if: runner.os == 'macOS'
        run: brew install fftw

      - name: Manual Install
        run: |
          install.packages("BiocManager")
          BiocManager::install("ggtree")
          install.packages("remotes")
          remotes::install_version("Matrix", version = "1.6-0", repos = "http://cran.us.r-project.org")
          remotes::install_version("Seurat", version = "4.4.0", repos = "http://cran.us.r-project.org")
        shell: Rscript {0}

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
          cache-version: 2

      - name: Install XQuartz on macOS
        if: runner.os == 'macOS'
        run: brew install xquartz --cask

      - name: Run BiocCheck
        run: |
          BiocManager::install("BiocCheck")
          library(BiocCheck)
          BiocCheck::BiocCheck(".",
              `quit-with-status` = TRUE,
              `no-check-R-ver` = TRUE,
              `no-check-bioc-help` = TRUE
          )
        shell: Rscript {0}

